<!-- <nb-layout>
  <nb-layout-header fixed>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXJGWpPRnqx7QUlXZQ-3s2eQ5BFV_amo99uw&usqp=CAU "
            style="margin-right: 5px"
            height="40"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <small> <strong class="text-control">Chatbot</strong></small>
      </div>
    </nav>
  </nb-layout-header> -->
<div class="col-11 bg-dark">
  <nb-chat size="small" style="max-width: 700px !important;">
    <ng-template nbChatTitle [context]="{ text: 'Tư vấn bệnh dạ dày' }" let-data>
      <div>{{ data.text }}</div>
    </ng-template>

    <div *nbCustomMessage="'button'; let buttonText">
      <p class="text-control button-custom-message-text">
        {{ buttonText }}
      </p>
      <div class="">
        <button
          nbButton
          status="control"
          style="margin-right: 5px"
          (click)="handleSelect('YES')"
        >
          Có
        </button>
        <button nbButton status="control" (click)="handleSelect('NO')">
          Không
        </button>
      </div>
    </div>

    <nb-chat-message
      *ngFor="let msg of messages"
      [type]="msg.type"
      [message]="msg.text"
      [reply]="msg.reply"
      [sender]="msg.user.name"
      [date]="msg.date"
      [files]="msg.files"
      [quote]="msg.quote"
      [latitude]="msg.latitude"
      [longitude]="msg.longitude"
      [avatar]="msg.user.avatar"
      [customMessageData]="msg.customMessageData"
    >
    </nb-chat-message>
    <nb-chat-form
      (send)="sendMessage($event.message)"
      [dropFiles]="true"
    ></nb-chat-form>
  </nb-chat>
</div>
<nb-layout-column style="display: none">
  <nb-layout>
    <nb-layout-column style="display: none"> </nb-layout-column>
  </nb-layout>
  <!-- <nb-layout>
    <nb-layout-column>
      <nb-list style="margin-top: 20px">
        <nb-list-item>
          <strong> Tổng hợp các lệnh của hệ thống </strong>
        </nb-list-item>
        <nb-list-item style="margin-left: 10px; margin-top: 10px">
          <nb-icon icon="star" style="margin-right: 5px"></nb-icon>
          sẵn sàng : Bắt đầu tư vấn
        </nb-list-item>
        <nb-list-item style="margin-left: 10px">
          <nb-icon icon="star" style="margin-right: 5px"></nb-icon>
          kết thúc : Kết thúc tư vấn
        </nb-list-item>
      </nb-list>
    </nb-layout-column>
  </nb-layout> -->
</nb-layout-column>
<!-- 
  <nb-layout-footer fixed> </nb-layout-footer>
</nb-layout> -->
